<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mission to Mars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">

    <div class="jumbotron text-center" style="background-color: #A7B9D8;">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars data here -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h5>{{ mars_dictionary.mars_news[0] }}</h5>
        <p>{{ mars_dictionary.mars_news[1] }}</p>
      </div>
    </div>

   <div class="row">
      <div class="col-md-9">
        <h2>Featured Mars Image</h2>
        <img class="img-responsive" src="{{ mars_dictionary.featured_image }}" width="100%">
      </div>
      <div class="col-md-3">
        <div class="row" style="outline: 1px solid black">
          <h4 style="padding-left:10px;padding-top: 5px;">Current Weather on Mars</h4>
          <p style="padding-left:10px;">{{ mars_dictionary.mars_weather }}</p>
        </div>
        <div class="row">
          <h4 style="padding-top: 20px;">Mars Facts</h4>
          {{  mars_dictionary.mars_facts|safe }}
        </div>
      </div>
    </div>
<hr>
    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align: center;">Mars Hemispheres</h2>
      </div>
    </div>

    <div class="row" style="padding-top: 10px;">
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top">
            {%  for title, url in mars_dictionary.mars_hemispheres[0].items()  %}
            <img class="img-responsive" src="{{ url }}" width="100%">
          </div>
          <div class="card-body">
            <h4 class="card-text">{{  title  }}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top">
            {%  for title, url in mars_dictionary.mars_hemispheres[1].items()  %}
            <img class="img-responsive" src="{{ url }}" width="100%">
          </div>
          <div class="card-body">
            <h4 class="card-text">{{  title  }}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top">
            {%  for title, url in mars_dictionary.mars_hemispheres[2].items()  %}
            <img class="img-responsive" src="{{ url }}" width="100%">
          </div>
          <div class="card-body">
            <h4 class="card-text">{{  title  }}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top">
            {%  for title, url in mars_dictionary.mars_hemispheres[3].items()  %}
            <img class="img-responsive" src="{{ url }}" width="100%">
          </div>
          <div class="card-body">
            <h4 class="card-text">{{  title  }}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>